body
{
    background-color: rgb(107, 114, 124);
    font-family: "Cinzel", serif;
}


h1
{
    background-color: rgb(166, 172, 187);
    text-align: center;
    margin: -8px;
    padding: 18px;
    
}

p
{
    
}

.balenciaga
{
    width: 200px;
    height: 100;
    
}

.fish
{
    width: 200px;
}


.tung
{
    width: 200px;
}



.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
  }


  .ronaldofish
  {
    width: 500px;
  }


  .Cristiano
  {
    border-style: solid;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    
  }
  
  ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }

  ul li a.active {
    background-color: #04AA6D;
  }

